
.item-list-produtos {
    margin: 5px;
    text-align: center;
    list-style: none;
    float: left;
    width: 23%;
}
.list-produtos {
    margin: 30px auto 20px; 
    width: 100%;
}
.img-list{
    height: 200px;
    width: 180px;
    background: #fefefe;
    margin: 0 auto 25px;
}
.img-products {
    width: 100%;
}
.item-name{
    width: 100%;
    display: block;
    max-height: 55px;
    height: 50px;
    box-sizing: border-box;
    padding: 0px 15px;
}
.item-valor{
    margin-bottom: 10px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
    padding: 0px 15px;
}
.item-button-sale {
    text-transform: uppercase;
    width: 65%;
    font-weight: 600;
}
.go-cart {
   margin-top: 5px; 
}