.menu {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

a {
    color: #fff;
    width: auto;
    margin: 0px 10px;
    font-size: 20px;
    display: flex;
    line-height: 35px;
    height: 40px;   
}
 
a:hover {
    color: #fffc;
}

span {
    padding-left: 1px;
}
#dropdown-basic {
    display: none;
}

@media only screen and (max-width: 860px) {
    #dropdown-basic {
        display: block;
        background: transparent;
        font-size: 20px;
        text-align: left;
        height: 37px;
    }
    .dropdown-item {
         width: 88%;
    }
    .menu {
        display: none;
    }
    .header {
        height: 38px;
    }
}